@import url(https://fonts.googleapis.com/css?family=Montserrat);
html, body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  background-image: url(bg_1.JPG);
  transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  transform: translateY(15vh);
}
.background:nth-child(2) {
  background-image: url(bg_2.webp);
}
.background:nth-child(3) {
  background-image: url(bg_3.webp);
}
.background:nth-child(4) {
  background-image: url(bg_4.jpg);
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.bg1 {
  background-image: url(bg_1.JPG);
  transform: translateY(-15vh);
  z-index: 4;
}
.bg2 {
  background-image: url(bg_2.webp);
  transform: translateY(-15vh);
  z-index: 3;
}
.bg3 {
  background-image: url(bg_3.webp);
  transform: translateY(-15vh);
  z-index: 2;
}

.bg4 {
  background-image: url(bg_4.jpg);
  transform: translateY(-15vh);
  z-index: 1;
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 4;
}

.background:nth-child(2) {
  z-index: 3;
}

.background:nth-child(3) {
  z-index: 2;
}

.background:nth-child(4) {
  z-index: 1;
}


.content-wrapper {
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column nowrap;
  color: #fff;
  font-family: Montserrat;
  text-transform: uppercase;
  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.fix {
  height: 100vh;
}

.content-title {
  font-size: 8vh;
  line-height: 1.4;
}
.content-subtitle{
  font-size: 2.5vh;
}

.background.up-scroll {
  transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  transform: translateY(15vh);
}
.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}

.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}
.id_photo{
  border-radius: 100px;
    border: solid 1px #efefef;
    display: block;
    height: 150px;
    margin: 10px auto;
    width: 150px;
}
.img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 10px auto;
}
#pp-nav span, .pp-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
#pp-nav.right {
  right: 17px;
}
#pp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
}
#pp-nav li, .pp-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}
#pp-nav li a, .pp-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
#pp-nav span, .pp-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.ct-btn-scroll-up {
  width: 49px;
  height: 49px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  transform: rotateX(180deg);
  display: none;
}
.igfilter{
  width: 100%;
  overflow: hidden;
}
.filter{
  width: 10vh;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 10vh;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5vh;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #E1306C;
  color: white;
}

.fa-envelope {
  background: #45b3fc;
  color: white;
}

.fa-twitch {
  background: #6441a5;
  color: white;
}

.btn {
  background-color: #bd34b8;
  color: white;
  margin: 0px auto;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  border:1px solid #dd3fd8;
}

.btn:hover{
  background-color: #f741f1;
}